<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- common css -->
	<link rel="stylesheet" media="screen" href="./css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="./css/common.css">
	<!-- module css -->
	<link rel="stylesheet" media="screen" href="./css/quickGB.css">
	
	<title>1 拼单信息</title>
</head>
<body class="container-fluid">
	<div class="row">
		<div class="col-xs-12 number-input" v-for="list in lists">
			<div class="row">
				<div class="col-xs-6 title">
					<div class="name">{{list.name}}</div>
					<div class="extraInfo">{{list.mark}}</div>
					<div class="money">￥{{list.price?list.price:'未知'}}</div>
				</div>
				<div class="col-xs-6 calculate pull-right">
					<i class="iconfont btn-decs" v-if="list.quantity>0" @click="decrease(list)">&#xe6cc;</i>
					<span>{{list.quantity.toString()==''?'无上限':list.quantity}}</span>
				    <i class="iconfont btn-incs" v-if="list.quantity.toString()!=''" 
				    	@click="increase(list)">&#xe63e;</i>
				</div>
			</div>
		</div>

		<div class="col-xs-12 add-btn-groups">
			<div class="row">
				<div class="col-xs-12 release" text-center @click="addOne">添加</div>
				<div class="col-xs-4 preview" @click="previewPage">预览</div>
				<div class="col-xs-8 release" @click="releasePage">发布</div>
			</div>
		</div>
	</div>
</body>
</html>

<!-- common js -->
<script src="./js/lib/jquery-2.2.1.js"></script>
<script src="./js/lib/bootstrap.min.js"></script>
<script src="./js/lib/vue.js"></script>
<script src="./js/common.js"></script>
<!-- module js -->
<script src="./js/quickGb_add.js"></script>