<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">

	<!-- common css -->
	<link rel="stylesheet" media="screen" href="./css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="./css/common.css">
	<!-- module css -->
	<link rel="stylesheet" media="screen" href="./css/quickGB.css">
	
	<title>Success</title>
</head>
<body class="success-body">
	<div class="container">
		<div class="row">
			<div class="text-center success-alert">成功发起拼单</div>
			<div class="col-xs-12 success-info">Martin妈妈，您成功发起并参与了拼单[200512332]</div>
			<div class="col-xs-12">详情如下：</div>
			<div class="col-xs-12 success-list">
				<ul>
					<li class="table-title row">
						<div class="tr-width1 col-xs-5">商品名</div>
						<div class="tr-width2 col-xs-3">订购价</div>
						<div class="tr-width3 col-xs-2">订购数</div>
						<div class="tr-width4 col-xs-2">总价</div>
					</li>
					<li class="table-content row">
						<div class="tr-width1 col-xs-5">爱他美奶粉一段</div>
						<div class="tr-width2 col-xs-3">380/罐</div>
						<div class="tr-width3 col-xs-2">
							<div class="num-select">2</div>
						</div>
						<div class="tr-width4 num-over col-xs-2">3</div>
					</li>
					<li class="table-content row">
						<div class="tr-width1 col-xs-5">爱他美奶粉三段</div>
						<div class="tr-width2 col-xs-3">270/罐</div>
						<div class="tr-width3 col-xs-2">
							<div class="num-select">2</div>
						</div>
						<div class="tr-width4 num-over col-xs-2">2</div>
					</li>
					<li class="table-content row">
						<div class="tr-width1 col-xs-5">沐舒坦(德国版)</div>
						<div class="tr-width2 col-xs-3">待定</div>
						<div class="tr-width3 col-xs-2">
							<div class="num-select">0</div>
						</div>
						<div class="tr-width4 num-over col-xs-2">0</div>
					</li>
				</ul>
			</div>
			<div class="text-center success-groups">
				<div class="text-center">我的拼单</div>
				<div class="text-center share">分享</div>
			</div>
		</div>
	</div>
</body>
</html>

<!-- common js -->
<script src="./js/lib/jquery-2.2.1.js"></script>
<script src="./js/lib/bootstrap.min.js"></script>
<script src="./js/lib/vue.js"></script>
<script src="./js/common.js"></script>
<!-- mmodule js -->