.list-container{
	background: #5c645f;
	height: 100%;
}

.list-box{
	margin-top: 4px;
	background-color: #fff;
	height: 136px;
}

.list-box .list-header{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #E7E7E7;
}

.list-box .header-time{
	float: left;
	margin-left: 13px;
}

.list-box .header-status{
	float: right;
	margin-right: 13px;
	color: #80a120;
}

.list-box .list-content{
	padding-top: 17px;
}

.list-content img{
	width: 63px;
	height: 63px;
}

.list-content .title{
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-content .time, 
.list-content .number{
	font-size: 12px;
}

.list-content .number{
	background: url('../img/ico_order_participant@2x.png') no-repeat left center;
	background-size: 14px;
	padding-left: 20px;
}

.list-content .time{
	background: url('../img/ico_order_time@2x.png') no-repeat left center;
	background-size: 14px;
	padding-left: 20px;
}

.list-content .content{
	height: 63px;
}
.list-content .subContent{
	position: absolute;
	bottom: 0;
}




.detail-header{
	height: 200px;
	background: #969696;
}

.detail-header .header-top{
	height: 150px;
	border-bottom: 1px solid #DBDBDB;
	position: relative;
}
.detail-header .header-bottom{
	height: 50px;
	line-height: 50px;
	position: relative;
}

.detail-header .member-photo{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	position: absolute;
	bottom: 13px;
	left: 15px;
}

.detail-header .member-info{
	position: absolute;
	bottom: 18px;
	left: 75px;
	color: #fff;
}

.detail-fullStar,
.detail-halfStar,
.detail-emptyStar{
	display: inline-block;
	font-size: 14px;
	border: #f9bf2d;
}
.detail-fullStar{
	color: #f9bf2d;
}
.detail-halfStar{
	color: linear-gradient(to right, #f9bf2d 0, #f9bf2d 50%, #fff 50%, #fff 1);
}
.detail-emptyStar{
	color: #fff;
}

.starIcon{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
}
.starIcon.full-star{
	background-image: url("../img/full-star.png");
}
.starIcon.half-star{
	background-image: url("../img/half-star.png");
}
.starIcon.empty-star{
	background-image: url("../img/empty-star.png");
}

.detail-header .detail-score{
    display: inline-block;
    color: #fff;
    background: #f9bf2d;
    height: 16px;
    line-height: 16px;
    padding: 0 2px;
    border-radius: 2px;
    vertical-align: text-top;
}

.detail-header .detail-email{
    position: absolute;
    right: 73px;
    bottom: 26px;
    width: 27px;
    height: 21px;
    background: url('../img/btn_message@2x.png') no-repeat;
    background-size: cover;
}

.detail-header .detail-phone{
   	position: absolute;
    right: 19px;
    bottom: 22px;
    color: rgba(255,255,255,1.1);
    font-size: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    padding-left: 16px;
    height: 26px;
}

.detail-header .header-bottom{
	color: #C7C7C7;
}

.detail-header .header-bottom .statusBox.active{
	color: #fff;
}
.detail-header .header-bottom .statusBox.active span{
	border-bottom: 2px solid #fff;
}

.statusBox{
	text-align: center;
}

.detail-description{
	height: 60px;
	position: relative;
	background-color: #fff;
}
.detail-description span{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 15px;
	font-size: 14px;
}


.detail-lists{
	margin-top:5px;
	margin-bottom: 50px;
}

.detail-list-1{
	margin-bottom: 1px;
	position: relative;
	height: 85px;
	background-color: #fff;
}

.detail-list-1 .title{
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}
.detail-list-1 .name{
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.detail-list-1 .extra{
	font-size: 13px;
	color: #666666;
	padding-top: 2px;
}
.detail-list-1 .money{
	font-size: 13px;
	font-weight: bold;
	color: #8BAD2B;
	padding-top: 5px;
}
.detail-list-1 .calculate{
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	height: 16px;
}
.detail-list-1 .btn-decs{
	width: 16px;
	height: 16px;
	background: url("../img/btn_neworder_minus@2x.png") no-repeat center center;
	background-size: cover;
	display: inline-block;
	margin-right: 10px;
}
.detail-list-1 .btn-incs{
	width: 16px;
	height: 16px;
	background: url("../img/btn_neworder_add@2x.png") no-repeat center center;
	background-size: cover;
	display: inline-block;
	margin-left: 10px;
}
.detail-list-1 .calculate span{
	position: relative;
	top: -2px;
}

.detail-container .btn-groups{
	border-top: 1px solid #CBD0CF;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
}
.detail-container .detail-submit,
.detail-container .detail-return{
	border-radius: 4px;
	width: 120px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	float: right;
	margin-right: 14px;
	position: relative;
	top: 7px;
	background: none;
}
.detail-container .detail-submit{
	color: #8BAE29;
	border: 1px solid #8BAE29;
}
.detail-container .detail-submit:disabled{
	color: #717171;
	border: 1px solid #717171;
}
.detail-container .detail-return{
	color: #717171;
	border: 1px solid #717171;
}


.detail-list-2,
.detail-list-3{
	margin-bottom: 1px;
	height: 85px;
	position: relative;
	background-color: #fff;
	padding: 0 15px;
}

.detail-lists .catalogue{
	padding-left: 15px;
	color: #333333;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
}

.detail-list-2 .title,
.detail-list-3 .title{
	left: 15px;
}
.detail-list-2 .number,
.detail-list-3 .number{
	right: 15px;
}
.detail-list-2 .money,
.detail-list-3 .money{
	display: inline-block;
	color: #8BAD2B;
}
.detail-list-2 .preMoney{
	display: inline-block;
	padding-left: 10px;
	color: #c3c3c3;
}

.description-title{
	left: 15px;
}
.description-content{
	right: 30px;
}
.description-icon{
	width: 6px;
	height: 10px;
	background: url("../img/ico_itemsarrow_next@2x.png") no-repeat;
	background-size: cover;
	right: 15px;
}

.billing{
	background-color: #fff;
	position: relative;
	height: 75px;
}
.billing .total-box{
	right: 12px;
	text-align: right;
}
.billing .total{
	color: #019A00;
	font-size: 17px;
}

.bar{
	position: absolute;
	bottom: 7px;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.4);
	height: 2px;
}
.point{
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: rgba(255,255,255,0.4);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.detail-header .statusBox.active .bar{
	background: linear-gradient(to right, rgba(255,255,255,0.4) , rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 100%);
}

.detail-header .statusBox:first-child .bar{
	background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,0) 50%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.4) 100%);
}
.detail-header .statusBox:last-child .bar{
	background: linear-gradient(to right, rgba(255,255,255,0.4) , rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}
.detail-header .statusBox:first-child.active .bar{
	background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 100%);
}
.detail-header .statusBox:last-child.active .bar{
	background: linear-gradient(to right, rgba(255,255,255,0.4) , rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}
.detail-header .statusBox.active .point{
	background: #fff;
}



.quit-body .title{
    padding: 8px 7px;
    font-size: 15px;
    background: #fff;
}

.quit-body .option{
	padding: 11px 7px;
    background: #fff;
    margin-top: 6px;
    font-weight: bold;
}

.quit-body .add-container{
    background: #fff;
    border-top: 1px solid #c9c9c9;
    padding: 13px 7px;
}

.quit-body .add-title{
    font-size: 12px;
    color: #c3c3c3;
}

.quit-body .add-content{
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 22px;
}

.quit-body .description{
	padding: 20px 7px;
	color: #c1c1c1;
	font-size: 13px;
}

.quit-body .description > div{
	margin-top: 5px;
}

.quit-body .btn-container{
	width: 100%;
	padding: 0 7px;
	margin-top: 110px;
}
.quit-body .btn-confirm{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: rgba(0,0,0,0);
	border: 1px solid #8BAD2B;
	border-radius: 25px;
	font-size: 15px;
	font-weight: bold;
	color: #8BAD2B;
	text-align: center;
}

.quit-body .btn-confirm:active,.btn-confirm:focus{
	box-shadow: none;
	color: #8BAD2B;
}

.quit-body .btn-confirm[disabled]{
	border-color: #B8B8B8;
	color: #B8B8B8;
}
.quit-body .btn-confirm[disabled]:active,
.quit-body .btn-confirm[disabled]:focus{
	color: #B8B8B8;
}


.payBackground{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background: rgba(0,0,0,0.3);
}

.payBackground .payContainer{
	position: absolute;
	top: 47%;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}

.payBackground .pay-title{
    font-size: 14px;
    padding: 20px 10px 0 10px;
}
.payBackground .pay-alipay,
.payBackground .pay-wechat,
.payBackground .pay-cash{
	border-bottom: 1px solid #c3c3c3;
    margin-top: 15px;
    padding: 10px;
}
.payBackground .pay-oper{
	float: right;
	color: #8BAE29;
}
.payBackground .pay-btnGroup{
	margin-top: 25px;
    padding: 0 10px;
}
.payBackground .pay-later,
.payBackground .pay-done{
    text-align: center;
    width: 45%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    border-radius: 4px
}
.payBackground .pay-later{
    float: left;
    border: 1px solid #8BAE29;
    color: #8BAE29;
}
.payBackground .pay-done{
    float: right;
    background: #8BAE29;
    color: #fff;
}

.valuate-box{
	text-align: center;
}

.valuate-box .score-title:before,
.valuate-box .score-title:after{
	content: '';
	display: inline-block;
	width: 50px;
	height: 1px;
	background: #DBDBDB;
	margin-bottom: 5px;
}
.valuate-box .score-title:before{
	margin-right: 14px;
}
.valuate-box .score-title:after{
	margin-left: 14px;
}
.valuate-box .score-title{
	margin-top: 35px;
}

.valuate-box .starIcon{
	width: 30px;
	height: 30px;
	background-size: 30px;
	margin: 15px 0;
}
.valuate-box .starIcon + .starIcon{
	margin-left: 10px;
}

.valuate-box .valuate-title:before,
.valuate-box .valuate-title:after{
	content: '';
	display: inline-block;
	width: 20px;
	height: 1px;
	background: #DBDBDB;
	margin-bottom: 5px;
}
.valuate-box .valuate-title:before{
	margin-right: 14px;
}
.valuate-box .valuate-title:after{
	margin-left: 14px;
}

.valuate-box textarea{
	resize: none;
    margin-top: 33px;
    background: #edf1f4;
    border-color: #d2d2d2;
    padding-top: 10px;
    padding-left: 10px;
    outline: none;
}

.valuate-box .valuate-btn{
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #8BAE29;
    margin: 24px auto 0;
}
.valuate-box .valuate-btn:disabled{
	background: #d2d2d2;
}

.valuate-name{
	color: #1dc700;
}

.valuate-result{
	text-align: center;
}
.valuate-result .result-title:before,
.valuate-result .result-title:after{
	content: '';
	display: inline-block;
	width: 20px;
	height: 1px;
	background: #DBDBDB;
	margin-bottom: 5px;
}
.valuate-result .result-title:before{
	margin-right: 14px;
}
.valuate-result .result-title:after{
	margin-left: 14px;
}
.valuate-result .result-title{
	margin-top: 30px;
	margin-bottom: 20px;
}

.valuate-result .result-content{
    display: inline-block;
    background: #d2d2d2;
    padding: 5px 10px;
    min-width: 232px;
    text-align: left;
}

.valuate-result .result-me-img {
	height: 30px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (-o-min-device-pixel-ratio: 3/1),
only screen and (min-device-pixel-ratio: 3) {
	.detail-list .btn-decs{
		background-image: url("../img/btn_neworder_minus@3x.png");
	}
	.detail-list .btn-incs{
		background-image: url("../img/btn_neworder_add@3x");
	}
	.description-icon{
		background-image: url("../img/ico_itemsarrow_next@3x.png");
	}
	.list-content .number{
		background-image: url('../img/ico_order_participant@3x.png');
	}
	.list-content .time{
		background-image: url('../img/ico_order_time@3x.png');
	}
}
