body,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,p,form,input,table,tr,td,select,textarea{margin:0; padding:0;}
html{height:100%;}
body{font-size:0.4rem; font-family:'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;line-height:0.6rem; background:#fff;height:100%;}
img,table{border:none;}
ul{list-style:none;}
a{text-decoration:none;}
input{vertical-align:middle;}
ul li{list-style:none;}
h2{font-size:0.4rem; font-weight:bold;}
button{background:#03B848;color:#fff;border:none;outline:none;font-size: 0.4rem;font-family:'Microsoft YaHei',tahoma, Arial, Verdana, sans-serif;}
.clear{clear:both; height:0; overflow:hidden;}
.clearfix:after{content:".";clear:both; height:0; overflow:hidden;visibility:hidden;display:block;}
.clearfix{zoom:1}
.hidden{display:none}

.container{
	padding: 0 0.3rem;
	background: #E9E9E9;
	min-height: 100%;
}

.info-box{
	padding: 0.3rem 0;
	color: #999;
}

.input-box{
	position: relative;
	background-color: #fff;
	height: 1.3rem;
	line-height: 1.3rem;
	border-radius: 0.2rem;
	margin-top: 0.2rem;
}
.input-box div{
	display: inline-block;
}

.input-box .input-title{
	padding-left: 0.4rem;
	width: 2rem;
	float: left;
}

.input-box input{
	width: 7rem;
	height: 1.3rem;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	border-radius: 0.1rem;
	float: left;
	font-size: 0.4rem;
}

.input-box #forget-btn{
	position: absolute;
	color: #00940F;
	width: 3rem;
	right: 0.2rem;
	text-align: center;
}

.login-btn-groups{
	padding-top: 0.5rem;
}
.btn-group{
	width: 4.5rem;
	height: 1.2rem;
	float: left;
}
.login-btn-groups #login-btn{
	margin-right: 0.4rem;
}


/*register page*/
#security-code-btn{
	width: 2.8rem;
	position: absolute;
	right: 2%;
	top:5%;
	border-radius: 0.2rem;
}

#security-code-btn.disable{
	background-color: #C5C4C4;
}

#register-confirm{
	margin: 1rem 2.45rem 0.3rem 2.45rem;
	float: none;
	border-radius: 0.2rem;
}

.register-rule{
	text-align: center;
}
.register-rule span{
	margin: 0 5%;
	color: #1DCF07;
}

.login-dialog,.register-dialog{
	text-align: center;
	font-size: 0.4rem;
	color: #FF0000;
	padding-top: 16px;
	height: 24px;
	span{
		display: none;
	}
}

/*detail page*/
.img-display-container{
	position: relative;
	width: 10rem;
	height: 6rem;
}

.img-display{
	width: 5rem;
	height: 4rem;
	margin: 0rem auto 0 auto;
	position: relative;
	top: 0.7rem;
	padding-bottom: 1rem;
}

.detail-container{
	background: #fff;
	padding: 0.4rem 0.6rem;
}

.detail-info{
	width: 4rem;
	display: inline-block;
	font-size: 0.35rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.detail-addition{
	width: 100%;
}

.detail-list td{
	background: #fff;
	border: none;
}

.detail-list{
	font-size: 0.4rem;
}

.detail-list li:not(.first-list){
	background: #fff;
	height: 1.3rem;
	line-height: 1.3rem;
	border-bottom:1px solid #ddd;
}

.first-list .tr-width1{
	color:#000;
}

.btn-dec, .btn-inc{
	background: none;
	font-size: 0.6rem;
	color: #00C30C;
	cursor: pointer;
    padding:0;
}
.btn-dec:hover, .btn-inc:hover{
	cursor: pointer;
}
.detail-list li{overflow: auto;height: 1.6rem;line-height: 1.6rem;}

.detail-list div{
	display: inline-block;
	text-align: center;
}
.tr-width1{
	width: 3.5rem;
	color: #00C30C;
	float: left;
}
.tr-width2{
	width: 2.5rem;
	float: left;
}
.tr-width3{
	width: 2rem;
	float: left;
}
.tr-width4{
	width: 2rem;
	float: left;
}

.detail-btn-container{
    position:relative;
    overflow:auto;
	width: 95%;
	margin: 4% auto 0 auto;
    padding-bottom:0.4rem;
}

#detail-confirm{
	width: 100%;
	height: 1.2rem;
	border-radius: 0.1rem;
}

.detail-box, .succeed-box{
	padding: 0;
}

.succeed-box .info-box{
	padding: 0.5rem 0.6rem;
}

.rule-container{
	padding: 0.5rem 0.6rem;
}

.download-btn{
	padding: 0.4rem 0;
	font-size: 0.4rem;
	background: #159C4C;
	color: #fff;
	display: inline-block;
	width: 2rem;
	height: 1.2rem;
	text-align: center;
	float: left;
}

.download-container{
	padding: 0.2rem 0.6rem;
	overflow: auto;
}

.download-qr{
	width: 2rem;
	height: 2rem;
	vertical-align: bottom;
	float: left;
}

.downlaod-content{
	display: inline-block;
	width: 6.6rem;
	font-size: 0.4rem;
	padding-left: 0.2rem;
	float: left;
}

.img-view-container{
	display: none;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	z-index: 10;
}

.img-close-btn{
	height: 1.0rem;
	text-align: left;
	padding: 0.3rem;
	color: #fff;
}

.img-view-box{
	/*width: 80%;
	margin: 0 auto;
	padding: 0 30rem;
	position: relative;*/
	height: 40%;
	padding-bottom: 1.0rem;
}

.img-view-infomation{
	height: 30%;
	background-color: #fff;
	width: 70%;
	margin: 0 auto;
}
.information-content{
	padding: 0.3rem;
	color: #9C9C9C;
}

.img-view{
	width: 70%;
	height: 100%;
	padding-bottom: 1rem;
}

img{
	width: 100%;
	height: 100%;
}

.swiper-pagination-bullet{
	width: .2rem;
	height: .2rem;
	background: none;
	border: 2px solid #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active{
	border: 2px solid #00D62E;
}

