<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title></title>
	
</head>
<body>
	<button type="button" id="submit" value="submit"></button>
	<input type="file" id="uploadFile">

	<<form action="../groupbuy/addItem" method="post" accept-charset="utf-8">
		<div name="title" v-model=""></div>
	</form>


	<script src="../js/lib/jquery-2.2.1.js"></script>
	<script src="../js/lib/jquery.form.js"></script>
	<script src="../js/lib/ajaxfileupload.js"></script>
	<script src="../js/index.js"></script>
</body>
</html>