<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title></title>
	
</head>
<body>
	<button type="button" id="submit">Submit</button>
	<input type="file" id="uploadFile1" name="uploadFile1">
	<input type="file" id="uploadFile2" name="uploadFile2">

<!-- 	<form action="../groupbuy/addItem" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type="file" name="file">
		<button type="submit">上传</button>
	</form> -->


	<script src="../js/lib/jquery-2.2.1.js"></script>
	<script src="../js/lib/jquery.form.js"></script>
	<script src="../js/lib/ajaxfileupload.js"></script>
	<script src="../js/index.js"></script>
</body>
</html>