<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">

	<!-- common css -->
	<link rel="stylesheet" media="screen" href="../css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="../css/common.css">
	<!-- module css -->
	<link rel="stylesheet" media="screen" href="../css/myGB.css">
	
	<title>订单详情</title>
</head>
<body>
	<div class="detail-header">
		<div class="header-top">
			<img :src="'..'+gbDetail.ownerPic" class="member-photo">
			<div class="member-info">
				<div>{{gbDetail.nickName}}</div>
				<!-- <div class="iconfont detail-fullStar">&#xf0042;</div> -->
				<i class="starIcon full-star" v-for="i in fullNum"></i>
				<i class="starIcon half-star" v-for="i in halfNum"></i>
				<i class="starIcon empty-star" v-for="i in emptyNum"></i>
				<div class="detail-score">{{owner.credit}}</div>
			</div>
			<a :href="'sms:'+owner.phone"><div class="detail-email"></div></a>
			<a :href="'tel:'+owner.phone"><div class="iconfont detail-phone">&#xe6cf;</div></a>
		</div>
		<div class="container-fluid header-bottom">
			<div class="row">
				<div class="col-xs-3 statusBox" :class="{'active': statusIndex==($index)}" 
				v-for="status in gbStatus">
					<span>{{status}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-container scrollable" v-if="statusIndex==0">
		<div class="detail-description">
			<span>{{gbDetail.description}}<span>
		</div>
		<div class="detail-lists">
			<div class="detail-list-1" v-for="list in gbDetail.items" v-if="list.quantity">
				<div class="title">
					<div class="name">{{list.name}}</div>
					<div class="extra">{{list.detail}}</div>
					<div class="money">￥{{list.listPrice?list.listPrice:'未知'}}</div>
				</div>
				<div class="calculate">
					<div class="btn-decs" v-if="list.quantity>0" @click="decrease(list)"></div>
					<span>{{list.quantity}}</span>
					<div class="btn-incs" v-if="list.quantity.toString()!=''" @click="increase(list)"></div>
				</div>
			</div>
		</div>
		<div class="btn-groups">
			<div class="detail-submit" @click="submitPage1(gbDetail)">提交修改</div>
			<div class="detail-return" @click="returnPage1(gbDetail)">退出拼单</div>
		</div>
	</div>

	<div class="detail-container scrollable" v-if="statusIndex==1">
		<div class="detail-description">
			<span>{{gbDetail.description}}</span>
		</div>
		<div class="detail-lists">
			<div class="catalogue">采购清单</div>
			<div class="detail-list-2" v-for="list in gbDetail.items">
				<div class="title box-center">
					<div class="name">{{list.name}}</div>
					<div class="money">￥{{list.listPrice}}</div>
					<!-- <del class="preMoney" v-if="list.preMoney">￥{{list.preMoney}}</del> -->
				</div>
				<div class="number box-center">x{{list.totalQuantity}}</div>
			</div>
		</div>
	</div>

	<div class="detail-container scrollable" v-if="statusIndex==2">
		<div class="detail-description">
			<div class="description-title box-center">取货地点</div>
			<div class="description-content box-center">西斗门路3号天堂软件园A-101</div>
			<div class="description-icon box-center"></div>
		</div>
		<div class="detail-lists">
			<div class="catalogue">账单详情</div>
			<div class="detail-list-3" v-for="list in gbDetail.items">
				<div class="title box-center">
					<div class="name">{{list.name}}</div>
					<div class="money">￥{{list.listPrice}}</div>
				</div>
				<div class="number box-center">x{{list.totalQuantity}}</div>
			</div>
			<div class="billing">
				<div class="box-center total-box">
					<div class="shipping">邮费 ￥ {{gbDetail.netAmount}}</div>
					<div class="total">合计 ￥ {{gbDetail.total}}</div>
				</div>
			</div>
		</div>
		<div class="btn-groups">
			<div class="detail-submit" @click="payPage3">付款</div>
			<div class="detail-submit" @click="confirmPage3">确认收货</div>
		</div>
		<div class="payBackground" v-show="payStatus" @click.self="payStatus=false">
			<div class="payContainer">
				<div class="pay-title">请根据单主的支付信息选择付款方式，复制后支付宝或微信账号将被复制在剪贴板。完成付款后请点击付款完成，以便系统进行记录。</div>
				<div class="pay-alipay"><span id="alipayNumber">18012345678</span>, 李笑
					<div class="pay-oper" @click="copyNumber('alipayNumber')">复制</div>
				</div>
				<div class="pay-wechat"><span id="wechatNumber">lixiao915</span>
					<div class="pay-oper" @click="copyNumber('wechatNumber')">复制</div>
				</div>
				<div class="pay-cash">当面现金交易<div class="pay-oper">选择</div></div>
				<div class="pay-btnGroup clearfix">
					<div class="pay-later" @click="payStatus=false">稍后付款</div>
					<div class="pay-done" @click="finishPay">付款完成</div>
				</div>
			</div>
		</div>
	</div>

	<div class="detail-container scrollable" v-if="statusIndex==3">
		<div class="valuate-box" v-if="!valuation.length">
			<div class="score-title">请对本次拼单进行评价</div>
			<i class="starIcon full-star" v-for="i in valuateScore" @click="setValuateScore($event)"></i>
			<i class="starIcon empty-star" v-for="i in 5-valuateScore" @click="setValuateScore($event)"></i>
			<div class="valuate-title">请选择您对<span class='valuate-name'>{{owner.nickName}}</span>的印象</div>
			<textarea cols="35" rows="5" placeholder="请说说对TA的印象吧" v-model="valuationText"></textarea>
			<button class="valuate-btn" @click="submitValuation" :disabled="!valuateScore||!valuationText">提交评价</button>
		</div>
		<div class="valuate-result" v-if="valuation.length">
			<div class="result-title">你对<span class='valuate-name'>{{owner.nickName}}</span>的印象</div>
			<div class="result-content">{{valuation[0].detail}}</div>
			<img :src="'..'+userInfo.picLink" class="result-me-img">
		</div>
		<div class="btn-groups">
			<button class="detail-submit" @click="historyPage4()">拼单历史</button>
			<button class="detail-submit" @click="sharePage4()" :disabled="!valuation">分享</button>
		</div>
	</div>
</body>
</html>

<!-- common js -->
<script src="../js/lib/jquery-2.2.1.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script src="../js/lib/vue.js"></script>
<script src="../js/common.js"></script>
<!-- module js -->
<script src="../js/myGB_detail.js"></script>
