<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">

	<!-- common css -->
	<link rel="stylesheet" media="screen" href="../css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="../css/common.css">
	<!-- module css -->
	<link rel="stylesheet" media="screen" href="../css/nearBy.css">
	
	<title>附近的拼单</title>
</head>
<body>
	<div class="container list-container scrollable">
		<div class="list-box row" v-for="list in lists" @click="showDetail(list)">
			<div class="list-content clearfix">
				<div class="col-xs-4 col-md-4">
				<img src="list.picLink?('..'+list.picLink):'../img/btn_neworder_normal@2x.png'" 
				class="img-fluid" alt="Responsive image" onerror="this.src='../img/btn_neworder_normal@2x.png'"></img>
				</div>
				<div class="col-xs-8 content">
					<div class="title">{{list.title}}</div>
					<div class="description">{{list.description}}</div>
					<div class="header-imgs">
						<img class="header-img" v-for="img in list.attendList">
					</div>
					<div class="position">{{list.nickName}}</div>
					<div class="attendee">{{list.totalMember}}/{{list.memberLimit}} 已报名</div>
				</div>
			</div>
			<progress :left="list.totalMember" :total="list.memberLimit"></progress>
		</div>
	</div>

	<template id="progress-template">
		<div class="prog">
			<div class="prog-left" :style="{width: percent}"></div>
		</div>
	</template>

</body>
</html>

<!-- common js -->
<script src="../js/lib/jquery-2.2.1.js"></script>
<script src="../js/lib/bootstrap.min.js"></script>
<script src="../js/lib/vue.js"></script>
<script src="../js/common.js"></script>
<!-- module js -->
<script src="../js/nearBy.js"></script>