<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">

	<link rel="stylesheet" media="screen" href="./css/style.css">
	
	<title>Succeed</title>
</head>
<body>
	<div class="container succeed-box">
		<div class="info-box">
			<div class="info">您已成功购买了诚诚爸爸的商品[{{info.id}}]</div>
			<div class="info">参与详情如下：</div>
		</div>
		<div class="detail-list">
			<ul>
				<li class="first-list">
					<div class="tr-width1">商品名</div>
					<div class="tr-width2">订购价</div>
					<div class="tr-width3">订购数</div>
					<div class="tr-width4">总价</div>
				</li>
				<li v-for="item in info.items">
					<div class="tr-width1">{{item.detail}}</div>
					<div class="tr-width2">{{item.listPrice}}/{{item.unit}}</div>
					<div class="tr-width3">
						<div class="num-select">{{item.quantity}}</div>
					</div>
					<div class="tr-width4 num-over">{{item.listPrice*item.quantity}}</div>
				</li>
			</ul>
		</div>
		<div class="rule-container">
			<div>参与规则：</div>
			<div>1.xxxxxxxxxxxxx</div>
			<div>2.xxxxxxxxxxxxx</div>
			<div>3.xxxxxxxxxxxxx</div>
		</div>
		<div class="download-container">
			<img src="./img/QR.jpg" class="download-qr">
			<div class="downlaod-content">关注我们的公众号随时查询购买进度。长按左方识别二维码图片，进入关注我们的公众号</div>
		</div>
		<div class="download-container">
			<div class="download-btn">应用<br>下载</div>
			<div class="downlaod-content">免费应用下载，您可自己参与和发起更多的商品</div>
		</div>
	</div>
</body>
</html>

<script src="./js/lib/zepto.min.js" type="text/javascript"></script>
<script src="./js/succeed.js" type="text/javascript"></script>
<script src="./js/lib/vue.js" type="text/javascript"></script>